.posts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.post {
  margin: 20px;
  border: 1px grey solid;
  border-radius: 0.25rem;
  width: 500px;
  height: 500px;
  position: relative;
}
.user {
  border-bottom: 1px grey solid;
  padding: 10px;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.commenter {
  font-weight: 600;
}
.description > a:link {
  color: #000 !important;
  text-decoration: none;
}
.description > a:visited {
  color: #000 !important;
  text-decoration: none;
}
.description > a {
  margin-left: 5px;
  margin-top: 5px;
  font-weight: 600;
}
a.commenter:link {
  color: #0000008c !important;
  text-decoration: none !important;
}
a.commenter:visited {
  color: #0000008c !important;
  text-decoration: none !important;
}
.user > a:link {
  color: #0000008c !important;
  text-decoration: none;
}
.user > a:visited {
  color: #0000008c !important;
  text-decoration: none;
}

#submit-comment {
  /* visibility: hidden; */
  border: 0;
  color: #0095f6;
  color: rgba(var(--d69, 0, 149, 246), 1);
  display: inline;
  padding: 0;
  position: relative;
  background-color: #fff;
  padding-right: 1em;
}
.komentarai > p {
  margin-bottom: 2px;
  margin-left: 5px;
}
.komentarai {
  overflow-wrap: normal;
  overflow-y: auto;
  height: 70px;
}
.form-group-comment > textarea {
  resize: none;
  bottom: 0;
  height: 50px;
  border: none;
}
.form-group-comment {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  border-top: 1px rgb(128, 128, 128, 0.1) solid;
}
.form-control:focus {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.library {
  border: 1px grey solid;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  width: -webkit-fill-available;
  flex-basis: 100%;
  gap: 5px;
}
.library-nuotrauka {
  max-width: 100%;
  margin: 5px;
  flex-basis: 33.333333%
}
.uploaded_ago > a:link {
  color: #0000008c !important;
  text-decoration: none;
}
.uploaded_ago > a:visited {
  color: #0000008c !important;
  text-decoration: none;
}
a.uploaded_ago {
  color: #0000008c !important;
  text-decoration: none;
  float: right;
}
.user > a > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
.upload_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.preview_photo {
  /* width: 600px; */
  height: 600px;
}
body {
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
}
.post,
.navbar {
  background-color: #fff !important;
}

/*  ======
    modal image
    ======*/

.library-nuotrauka {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.library-nuotrauka:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.library-nuotrauka {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.library-nuotrauka,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}


/* ======== */
/* comments */
/* ======== */

.container {
  /* background-color: #eef2f5; */
  width: 400px
}

.addtxt {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 13px;
  width: 350px;
  background-color: #e5e8ed;
  font-weight: 500
}

.form-control: focus {
  color: #000
}

.second {
  width: 350px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 10px 10px 5px #aaaaaa
}

.text1 {
  font-size: 13px;
  font-weight: 500;
  color: #56575b
}

.text2 {
  font-size: 13px;
  font-weight: 500;
  margin-left: 6px;
  color: #56575b
}

.text3 {
  font-size: 13px;
  font-weight: 500;
  margin-right: 4px;
  color: #828386
}

.text3o {
  color: #00a5f4
}

.text4 {
  font-size: 13px;
  font-weight: 500;
  color: #828386
}

.text4i {
  color: #00a5f4
}

.text4o {
  color: white
}

.thumbup {
  font-size: 13px;
  font-weight: 500;
  margin-right: 5px
}

.thumbupo {
  color: #17a2b8
}