{% extends "base.html" %}
{% block detailed %}
{% load static %}
<div class="post">
    <div class="user">
        <a href="{% url 'profilis' post.uploaded_by.profilis.id %}">
            <img src="{{ post.nuotrauka.url }}"></img>
            {{ post.uploaded_by }}
        </a>
            <a class="uploaded_ago">
                {{ post.date|date:"SHORT_DATE_FORMAT"}}
        </a>
    </div>
<div class="nuotrauka">
    <a href="{% url 'post_detail' post_id=post.id %}">
        <img  src="{{post.nuotrauka.url}}"></img>
    </a>
</div>
</div>
{% if request.user == post.uploaded_by %}
<form  action="{% url 'post_remove' post.id %}" method="post">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="Delete">
</form>
{% endif %}

<div class="container mt-1">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="d-flex justify-content-center pt-3 pb-2">
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="komentaras" placeholder="Pridekit komentara" class="form-control addtxt"> 
                    <button id="submit-comment" type="submit"></button>
                </form>
                {% csrf_token %}
            </div>
            {% if post.comments.all %}
            {% for comment in post.comments.all reversed %}
            {% csrf_token %}
            <div class="container justify-content-center mt-1 border-left border-right">
                <div class="d-flex justify-content-center py-2">
                    <div class="second py-2 px-2"> <span class="text1">{{ comment }}</span>
                        <div class="d-flex justify-content-between py-1 pt-2">
                            <div>
                                <img src="{{ user.profilis.nuotrauka.url }}" width="50">
                                <a href="{% url 'profilis' post.uploaded_by.profilis.id %}" >
                                    <span class="text2">{{ comment.commenter }}</span>
                                </a>
                                {% if request.user == comment.commenter %}
                                <form  action="{% url 'comment_remove' comment.id %}" method="post">
                                    {% csrf_token %}
                                    <input class="btn btn-danger btn-sm" type="submit" value="Delete">
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}